GFORMS=
MIGRATEDB=
MIGRATEDB_URL=https://site-boilerplate.altaprojects.net
MIGRATEDB_KEY=v+rUpiMqKQvGiBRhac8lDkx+/A1Hn2SAdM52h8Rp
MIGRATEDB_STEP_A_SRC=//site-boilerplate.altaprojects.net
MIGRATEDB_STEP_A_DES=//localhost
MIGRATEDB_STEP_B_SRC=/home/altaprojects/site-boilerplate.altaprojects.net
MIGRATEDB_STEP_B_DES=/var/www
